body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #47e1c2;
}

.tic-tac-toe {
    background: #1fa986;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(192, 54, 54, 0.1);
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.cell:hover {
    background-color: #07ca41;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    background-color: #2196F3;
    color: rgb(243, 237, 237);
}

.status {
    margin-top: 20px;
    font-size: 1.2em;
}
